# **Regular Expressions**

In [4]:
import re
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
print(x)
if x:
  print("YES! We have a match!")
else:
  print("No match")

<re.Match object; span=(0, 17), match='The rain in Spain'>
YES! We have a match!

In [5]:
import re
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [6]:
import re
txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [7]:
import re
txt = "The rain in Spain"
x = re.search("\s", txt)
print("The first white-space character is located in position:",
x.start())

The first white-space character is located in position: 3

In [23]:
import re
text = "The cat sat on the mat. The dog barked at the cat. Cats and dogs live in harmony."
x = re.findall(r'\b(cat|dog)\b', text, re.IGNORECASE)
y = re.findall(r'\bc\w{2}\b', text)
print(x)
print(y)

['cat', 'dog', 'cat']
['cat', 'cat']

In [24]:
#Replace first 2 occurences with 9
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

In [25]:
#Split at every white space
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [27]:
import re
text = "Contact us at support@example.com, sales@company.org, or admin@website.net. For more information, visit www.example.com."
x = re.findall(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b', text, re.IGNORECASE)
print(x)

['support@example.com', 'sales@company.org', 'admin@website.net']

In [31]:
import re
txt = "The rain in Spain"
x = re.split("\s", txt, 2)
print(x)

['The', 'rain', 'in Spain']

In [30]:
import re
txt = "The rain in Spain"
x =  re.search(r"\bS\w+",txt)
print(x.span())

(12, 17)